!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/main.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB0Rol6sa6jTxMNMiHU21Q1OlE6ZG8bHQQ&sensor=true')
          
    title World Dive Site Reference
  body
      h1  World Dive Site Reference 
      h4
        | Click on a dive flag to view dive site data or click in a vacant space to create your own dive reference
      hr
      #panel
        button#hide.btn.btn-default(type='button') Hide Markers
        button#show.btn.btn-default(type='button') Show Markers
        //a#inputInfo.btn.btn-default(href='/profile') Create or Edit Dive Site Info
        //button#delete.btn.btn-danger(type='button') Delete Marker
    #map-canvas

    
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/divemap.js')